body{
    margin: 0;
    padding: 0;
    display: flex;
}
.formulaire{
    display: flex;
    margin: 100px 200px;
    padding: 30px;
}
.left{
    width: 50%;
    height: 100%;
}
.right{
    text-align: left;
    padding: 30px;
    color: white;
    background-color: black;
    width: 50%;
    height: 620px;
}
.div{
    margin-bottom: 20px;
}
.dining_space{
    border-radius: 50%;
}

input, select{
    border: none;
    border-bottom: 1px solid white;
    background-color: black;
}
select{
    color: white;
}
.persons{
    border-radius: 10px;
    background-color: bisque;
}
.book_now{
    background-color: bisque;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
}
.name, .verify{
    color: bisque;
    font-weight: bold;
}