body{
    padding: 0;
    margin: 0;
    background: url(./background\ img.png) no-repeat;
}
.formulaire{
    display: flex;
    background-color: white;
    margin: 90px;
    padding: 10px;
}
.form{
    padding: 20px;
    padding-left: 100px;
}
h1{
    text-align: center;
}
.name{
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border: none;
    border-bottom: 2px solid black !important;
}
input{
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;
    width: 350px;
    height: 30px;
    border: none;
    border-bottom: 2px solid black !important;
}
#gender{
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;
    width: 350px;
    height: 30px;
    border: none;
    border-bottom: 2px solid black !important;
}
.button{
    height: 30px;
    width: 100px;
    margin-top: 50px;
    margin-left: 135px;
    color: white;
    background-color: grey;
    border: none;
}
i{
    color: black;
    width: 30px;
    height: 30px;
    
}
.username, .email, .password{
    position: relative;
}

.fas{
    position: absolute;
    right: 10px;
    top: 35px;
}