body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.formulaire{
    margin: 100px;
    padding: 30px;
    display: flex;
}
.left{
    width: 100%;
    height: 100%;
    background-color: #b465da;
    text-align: center;
}
h1{
    margin-left: 100px;
}
.price{
    margin-left: 50px;
}
.people{
    border: none;
}
input{
    margin-left: 50px;
    border: none;
    border-bottom: 1px solid black;
    background-color: #b465da;
}
#comment{
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid black;
    background-color: #b465da;
}
.div{
    margin-bottom: 50px;
}

.button{
    width: 100px;
    height: 30px;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    margin-bottom: 20px;
}
